html, body {
  height: 100%;
}

body {
  font-family: RobotoDraft, sans-serif;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

/*For randomized background of the entire page, not the paralax*/
.bg {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

/*:host {*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  box-sizing: border-box;*/
/*}*/
/*#core_drawer_panel {*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  right: 0px;*/
/*  bottom: 0px;*/
/*  left: 0px;*/
/*}*/
/*#section {*/
/*  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;*/
/*  background-color: rgb(204, 204, 204);*/
/*}*/
/*#section1 {*/
/*  height: 100%;*/
/*  box-sizing: border-box;*/
/*  background-color: rgb(221, 221, 221);*/
/*}*/
/*#core_toolbar {*/
/*  right: 0px;*/
/*  left: 0px;*/
/*  color: rgb(255, 255, 255);*/
/*  fill: rgb(255, 255, 255);*/
/*  top: 0px;*/
/*  position: absolute;*/
/*  background-color: rgb(119, 119, 119);*/
/*}*/
/*#core_toolbar1 {*/
/*  right: 0px;*/
/*  left: 0px;*/
/*  color: rgb(255, 255, 255);*/
/*  fill: rgb(255, 255, 255);*/
/*  top: 0px;*/
/*  position: absolute;*/
/*  background-color: rgb(119, 119, 119);*/
/*}*/
/*#core_menu {*/
/*  font-size: 16px;*/
/*  left: 1110px;*/
/*  top: 470px;*/
/*}*/
/*#core_item {*/
/*  left: 1120px;*/
/*  top: 400px;*/
/*}*/
/*#core_menu_button {*/
/*  left: 1170px;*/
/*  top: 440px;*/
/*}*/
/*#div2 {*/
/*  left: 1220px;*/
/*  top: 440px;*/
/*}*/
/*#topeka_app {*/
/*  width: 300px;*/
/*  height: 300px;*/
/*  min-height: 450px;*/
/*  left: 1210px;*/
/*  top: 350px;*/
/*}*/
/*#section2 {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  border: 5px solid rgb(204, 204, 204);*/
/*  left: 0px;*/
/*  top: 64px;*/
/*  position: absolute;*/
/*}*/
/*#paper_tabs1 {*/
/*  color: rgb(255, 255, 255);*/
/*  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 2px;*/
/*  background-color: rgb(0, 188, 212);*/
/*}*/
/*#paper_fab {*/
/*  top: 35px;*/
/*  position: absolute;*/
/*  right: 1em;*/
/*  z-index: 1;*/
/*}*/
/*#paper_item {*/
/*  left: 0px;*/
/*  top: 160px;*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 50px;*/
/*  background-color: rgb(209, 209, 209);*/
/*}*/
/*#paper_item1 {*/
/*  top: 80px;*/
/*  background-color: rgb(194, 194, 194);*/
/*}*/
/*#paper_item2 {*/
/*  top: 90px;*/
/*  background-color: rgb(194, 194, 194);*/
/*}*/
/*#paper_item3 {*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  bottom: 0px !important;*/
/*  background-color: rgb(119, 119, 119);*/
/*}*/